header
  nav.navbar.navbar-expand-lg.bg-dark
    .container-fluid
      a.text-white.navbar-brand(href='/') Node Auth
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.text-white.nav-link.active(aria-current='page' href='') Help
          li.nav-item
            a.text-white.nav-link(href='/register') Register
          li.nav-item
            a.text-white.nav-link(href='/login') Login
